services:
  web:
   build:
     dockerfile: Dockerfile
   ports:
     - "8000:8000"
   volumes:
     - ".:${CWD:-/code}"
   environment:
      - PYTHONUNBUFFERED=1
      - GOOGLE_APPLICATION_CREDENTIALS=/code/credentials.json